<h1>お申し込み内容</h1>
<p>いつもゲームマッチングアプリ（仮）をご利用いただきありがとうございます。</p>
<p>下記内容のお申し込みが完了しました</p>

<h4>お申し込み頂いたプランタイトル</h4>
<p><%= @plan.title %></p>
<h4>開催日時</h4>
<p><%= @plan.start_time.strftime("%Y.%m.%d %H時%M分")%></p>

