<div class="top_backgronud m-0 p-5">

  <div class="text-center mt-5 pt-3 text-white">
    <h2 class="text-white font_Kosugi">ゲームを一緒に学ぶ<br>仲間を見つけよう</h2>
  </div>

  <div class="text-center mt-4">
    <p class="top_width mx-auto text-white">ゲームマッチング(仮)はゲーマーとゲーマになりたい人を繋げるためのアプリケーションです。あなたのゲームライフにさわやかな風を提供します。</p>
  </div>

  <div class="mt-5">
    <%= link_to '今から初める', new_user_registration_path,class:"text-white btn btn-info btn-block rounded-pill  max-size mx-auto" %>
  </div>

</div>

<div class="top_secound_section m-0 p-5">
  <div class="container">
    <div class="row mt-5 mb-5">
      <h4 class="mx-auto">主な機能</h4>
    </div>

    <div class="row">
      <div class="col-lg-6 col-12 text-center">
        <h4 class="font_Kosugi">マッチング機能</h4>
        <div>
          <img src="../../images/match.png" alt="" height="130"> 
        </div>
        <p class="mt-4">あなたのゲーミングスキル、属性に合わせたゲーマーを<br>探し、見つけることができます</p>
      </div>

      <div class="col-lg-6 col-12 text-center">
        <h4 class="font_Kosugi">コミュニケーション機能</h4>
        <div>
          <img src="../../images/chat.png" alt="" height="130"> 
        </div>
        <p class="mt-4">チャットやコメントを通じて友達をフォローしよう</p>
      </div>

    </div>  
  </div>
</div>

<div class="third_top">
  <div class="container">
    <div class="row mt-5 mb-5">
      <h4 class="mx-auto">使い方</h4>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12 text-center mb-4">
        <h5>step1</h5>
        <p>アカウント登録登録します</p>
        <div>
          <img src="../../images/smat.png" alt="" height="130"> 
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center mb-4">
        <h5>step2</h5>
        <p>プラン一覧の中から申し込みします</p>
        <div>
          <img src="../../images/match.png" alt="" height="130">
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <h5>step3</h5>
        <p>ユーザー同士チャットやコメントでやりとりしながら詳細を決めます</p>
        <div>
          <img src="../../images/massege.png" alt="" height="130"> 
        </div>
      </div>
    </div>
  </div>
</div>
