<div class="top_backgronud m-0 p-5">

  <div class="text-center">
    <img src="/assets/logo.png" alt=""> 
  </div>

  <div class="text-center mt-3">
    <h2 class="">ゲームマッチング(仮)</h2>
  </div>

  <div class="text-center mt-2">
    <p class="top_width mx-auto">ゲームマッチング(仮)はゲーマー同士を繋げるためのアプリケーションです。あなたのゲームライフにさわやかな風を提供します。</p>
  </div>

</div>

<div class="top_secound_section m-0 p-5">
  <p></p>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div>
  <p></p>
  <p></p>
</div>
dadfadd