/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');


@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background:rgba(244,248,250,1)!important;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: linear-gradient(45deg, rgba(12, 13, 20,1), rgba(58,61,86,1));
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, rgba(12, 13, 20,1), rgba(58,61,86,1));
    z-index: 10;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


header ul li{
    list-style: none;
    display: inline;
}
.link_underline{ 
    text-decoration: none!important 
}
section div .plan_details{
    background-color: #fff;
}
section div .tag_custam{
    color:rgba(58,61,86,1);
    background-color: #f1f1f1;
    font-size: 0.7rem;
}
.field label{
    margin-bottom: 0!important;
    margin-top: 1rem;
}
.max-size-signup{
    max-width: 500px;
}
.font_level_3{
    font-size: 3rem;
}
.font_level_2{
    font-size: 1.5rem;
}   
.font_level_4{
    font-size: 1.5rem;
}
@media screen and (max-width: 960px){
    .font_level_4{
        font-size: 1.2rem;
    }
}
.account_base{
    background-color: #fff;
}
.checkbox_display{
    display: inline!important;
}
.tag_custam_show{
    color:rgba(58,61,86,1);
    background-color: #f1f1f1;
    font-size: 1rem;
}
.plan-text{
    min-height: 200px;
}
.list_comment{
    list-style: none;
}
section div .font_small{
    font-size:0.5rem;
}
.img_c{
    border-radius: 50%;
    width: 150px;
    height: 150px;    
}
.img_c_small{
    border-radius: 50%;
    width: 100px;
    height: 100px;    
}
.img_c_small_line{
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    vertical-align: top;     
}
.turn_text{
    word-wrap: break-word;
}
.user_show ul li {
    list-style: none;
}
.max-size{
    max-width: 200px;
}
.right{
    float: right;
}
.segment{
    max-width: 600px;
}
.btn_d{   	
    background-color: transparent!important;
    font-size: 1.5rem;
}

//メッセージ機能
.talk {
	padding:1em;
	overflow:auto;
}
.talk .talk_left:before { /* 左の丸アイコン */
	content:'';
	display:inline-block;

	vertical-align:top;
	border-radius:50%;
	background-size:cover;
}
.talk .talk_left p:before {  /* 左ふきだしの左三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	left:-20px;
	border: 12px solid transparent;
	border-right:12px solid white;
}
.talk .talk_left p { /* 左ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:white;
	border-radius:10px;
	padding:10px;
	margin:0 0 0 10px;
}
/* 右のトークボックス */
.talk .talk_right:after { /* 右の丸アイコン */
	content:'';
	display:inline-block;
	vertical-align:top;
	border-radius:50%;
	background-size:cover;
	background-position:-10px;
}
.talk .talk_right {
	float:right; /* 右のふきだしは全体的に右寄せ */
    margin-top: 1em;
    max-width: 300px;
    word-wrap:break-word;
}
.talk .talk_right p:after { /* 右ふきだしの右三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	right:-20px;
	border: 12px solid transparent;
	border-left:12px solid #85e249;
}
.talk .talk_right p { /* 右ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:#85e249;
	border-radius:10px;
	padding:10px;
	margin:0 10px 0 0;
}
.string_size{
    max-width:200px;
    text-align: left; 
}

//メッセージ機能終わり
.top_backgronud {
    height: 450px;
    width: 100%;
    background: url("/images/CGA0I9A6837.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}

.top_secound_section{
    background-color:white;
    height: 500px;
    width: 100%;
}

@media screen and (max-width: 960px){
    .top_secound_section{
        background-color:white;
        height: 700px;
        width: 100%;
    }
}
.top_width{
    max-width:400px;
}
.font_Kosugi{
    font-family: 'Kosugi Maru', sans-serif;
  }
.third_top{
    height: 500px;
    width: 100%;
}
@media screen and (max-width: 960px){
    .third_top{
        height: 800px;
        width: 100%;
    }
}